<div class="col-lg-8 pr-35 md-pr-15 md-mb-50">
    <div class="row">
        {% for article in articles %}
        <div class="col-lg-12 mb-50">
            <div class="blog-item">
                <div class="blog-img">
                    <a href="{{path('app_blog_show' ,{slug:article.slug})}}"><img src="{{asset('/images/blog/inner/style1/1.jpg')}}" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="">Commercial</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <h3 class="blog-title"><a href="{{path('app_blog_show' ,{slug:article.slug})}}">{{article.title}}</a></h3>
                    <div class="blog-meta">
                        <ul class="btm-cate">
                            <li>
                                <div class="blog-date">
                                    <i class="fi fi-rr-calendar"></i> {{article.createdAt|date('d/m/Y')}}                                                       
                                </div>
                            </li>
                            <li>
                                <div class="author">
                                    <i class="fi fi-rr-user"></i> Admin  
                                </div>
                            </li> 
                        </ul>
                    </div>
                    <div class="blog-desc">   
                        {{article.intro}}...          
                    </div>
                    <div class="blog-button">
                        <a class="blog-btn" href="{{path('app_blog_show' ,{slug:article.slug})}}">Lire la suite</a>
                    </div>
                </div>
            </div>
        </div>            
        {% endfor %}

        <div class="col-lg-12 mb-50">
            <div class="blog-item">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="assets/images/blog/inner/style1/2.jpg" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="single-post.html">Commercial</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <h3 class="blog-title"><a href="single-post.html">COVID-19 Cleaning Covers Home Treatmen</a></h3>
                    <div class="blog-meta">
                        <ul class="btm-cate">
                            <li>
                                <div class="blog-date">
                                    <i class="fi fi-rr-calendar"></i> Jan 28, 2022                                                        
                                </div>
                            </li>
                            <li>
                                <div class="author">
                                    <i class="fi fi-rr-user"></i> Admin  
                                </div>
                            </li> 
                        </ul>
                    </div>
                    <div class="blog-desc">   
                        We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot...           
                    </div>
                    <div class="blog-button">
                        <a class="blog-btn" href="single-post.html">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-50">
            <div class="blog-item">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="assets/images/blog/inner/style1/3.jpg" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="single-post.html">Commercial</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <h3 class="blog-title"><a href="single-post.html">The Secret offer Cleaning Your Beadroom & Toilet</a></h3>
                    <div class="blog-meta">
                        <ul class="btm-cate">
                            <li>
                                <div class="blog-date">
                                    <i class="fi fi-rr-calendar"></i> Jan 28, 2022                                                        
                                </div>
                            </li>
                            <li>
                                <div class="author">
                                    <i class="fi fi-rr-user"></i> Admin  
                                </div>
                            </li> 
                        </ul>
                    </div>
                    <div class="blog-desc">   
                        We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot...           
                    </div>
                    <div class="blog-button">
                        <a class="blog-btn" href="single-post.html">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-50">
            <div class="blog-item">
                <div class="blog-img">
                    <a href="single-post.html"><img src="assets/images/blog/inner/style1/4.jpg" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="blog-single">Commercial</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <h3 class="blog-title"><a href="single-post.html">Checklists on how to keep different rooms clean</a></h3>
                    <div class="blog-meta">
                        <ul class="btm-cate">
                            <li>
                                <div class="blog-date">
                                    <i class="fi fi-rr-calendar"></i> Jan 28, 2022                                                        
                                </div>
                            </li>
                            <li>
                                <div class="author">
                                    <i class="fi fi-rr-user"></i> Admin  
                                </div>
                            </li> 
                        </ul>
                    </div>
                    <div class="blog-desc">   
                        We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot...           
                    </div>
                    <div class="blog-button">
                        <a class="blog-btn" href="single-post.html">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-50">
            <div class="blog-item">
                <div class="blog-img">
                    <a href="single-post.html"><img src="assets/images/blog/inner/style1/5.jpg" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="blog-single">Commercial</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <h3 class="blog-title"><a href="single-post.html">Benefits of a professional cleaning for service</a></h3>
                    <div class="blog-meta">
                        <ul class="btm-cate">
                            <li>
                                <div class="blog-date">
                                    <i class="fi fi-rr-calendar"></i> Jan 28, 2022                                                        
                                </div>
                            </li>
                            <li>
                                <div class="author">
                                    <i class="fi fi-rr-user"></i> Admin  
                                </div>
                            </li> 
                        </ul>
                    </div>
                    <div class="blog-desc">   
                        We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot...           
                    </div>
                    <div class="blog-button">
                        <a class="blog-btn" href="single-post.html">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="blog-item">
                <div class="blog-img">
                    <a href="single-post.html"><img src="assets/images/blog/inner/style1/6.jpg" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="blog-single">Commercial</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <h3 class="blog-title"><a href="single-post.html">Showcase the best products of the season</a></h3>
                    <div class="blog-meta">
                        <ul class="btm-cate">
                            <li>
                                <div class="blog-date">
                                    <i class="fi fi-rr-calendar"></i> Jan 28, 2022                                                        
                                </div>
                            </li>
                            <li>
                                <div class="author">
                                    <i class="fi fi-rr-user"></i> Admin  
                                </div>
                            </li> 
                        </ul>
                    </div>
                    <div class="blog-desc">   
                        We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot...           
                    </div>
                    <div class="blog-button">
                        <a class="blog-btn" href="single-post.html">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>