<div class="rs-services services-style1 bg2 pt-115 pb-120 md-pt-75 md-pb-80">
    <div class="container">
        <div class="sec-title mb-65 text-center">
            <span class="sub-text">CE QUE NOUS FAISONS</span>
            <h2 class="title">
                Nos services<br> <span>à</span> la carte
            </h2>
            <div class="line-img ser-center wow fadeInUp">
                {# <img src="{{asset('/images/line.png')}}" alt="Images"> #}
            </div>
        </div>
        <div class="row y-middle">
        {#Début de boucle pour faire appel au service (faire attention à la dernière ligne ne contiens pas de mb-30#}
            {% for service in services %}
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="services-item">
                    <div class="services-images">
                        <img class="main-img" src="{{asset('/images/services/main-home/main-img/' ~ service.img ~ '')}}" alt="{{service.icone}}">
                        <div class="services-icon">
                            <img class="main-icons" src="{{asset('/images/services/main-home/main-icons/' ~ service.icone ~ '')}}" alt="">
                        </div>
                    </div>
                    <div class="services-text">
                        <div class="services-title">                            
                            <h3 class="title"><a href="{{path('app_service_show', {slug: service.slug })}}">{{service.denomination}}</a></h3>
                        </div>
                        <p class="services-txt">{{service.accueilDesc}}</p>
                        <div class="services-btn">
                            <a href="{{path('app_service_show', {slug: service.slug })}}">
                                <span class="btn-text">
                                   Voir plus                           
                                </span>
                                <i class="fi fi-rr-arrow-small-right"></i>
                            </a> 
                        </div>
                    </div>
                </div>
            </div>                
            {% endfor %}
            {#Début de boucle pour faire appel au service (faire attention à la dernière ligne ne contiens pas de mb-30#}
        </div>
    </div>
</div>