<div class="rs-testimonial testimonial-style1 bg7 pt-75">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pl-50 md-pl-15 mt--83 md-mt--0 md-mb-50 order-last">
                <div class="sec-title mb-45">
                    <span class="sub-text green-color yellow-color">Témoignage</span>
                    <h2 class="title pb-35 white-color">
                        Ils nous<span class="yellow-color"> recommandent</span>
                    </h2>
                    <div class="line-img testi-center wow fadeInUp">
                        {# <img src="{{asset('/images/line3.png')}}" alt="Images"> #}
                    </div>
                    <div class="desc white-color">
                        Découvrez les témoignages de nos clients satisfaits.
                    </div>
                </div>
                <div class="rs-carousel owl-carousel" 
                    data-loop="true" 
                    data-items="1" 
                    data-margin="0" 
                    data-autoplay="true" 
                    data-hoverpause="true" 
                    data-autoplay-timeout="5000" 
                    data-smart-speed="800" 
                    data-dots="true" 
                    data-nav="false" 
                    data-nav-speed="false" 

                    data-md-device="1" 
                    data-md-device-nav="false" 
                    data-md-device-dots="true" 
                    data-center-mode="false"

                    data-ipad-device2="1" 
                    data-ipad-device-nav2="false" 
                    data-ipad-device-dots2="true"

                    data-ipad-device="1" 
                    data-ipad-device-nav="false" 
                    data-ipad-device-dots="true" 

                    data-mobile-device="1" 
                    data-mobile-device-nav="false" 
                    data-mobile-device-dots="false">
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc">Cleaning is the passport to the future for tomor row belongs to those who pre pare for it today. Seds ut perspiciatis under to omnisite natus errorsit votings luptatem. Educa tion is the passport</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="testi-img">
                                <img src="{{asset('/images/testimonial/style1/home2/1.jpg')}}" alt="">
                            </div>
                            <div class="testi-information">
                                <div class="testi-information">
                                    <div class="testi-name">Masud Rana</div>
                                    <span class="designation">Digital Marketer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc">Cleaning is the passport to the future for tomor row belongs to those who pre pare for it today. Seds ut perspiciatis under to omnisite natus errorsit votings luptatem. Educa tion is the passport</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="testi-img">
                                <img src="{{asset('/images/testimonial/style1/home2/2.jpg')}}" alt="">
                            </div>
                            <div class="testi-information">
                                <div class="testi-information">
                                    <div class="testi-name">Angelina Jolie</div>
                                    <span class="designation">Graphic Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc">Cleaning is the passport to the future for tomor row belongs to those who pre pare for it today. Seds ut perspiciatis under to omnisite natus errorsit votings luptatem. Educa tion is the passport</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="testi-img">
                                <img src="{{asset('/images/testimonial/style1/home2/3.jpg')}}" alt="">
                            </div>
                            <div class="testi-information">
                                <div class="testi-information">
                                    <div class="testi-name">Mila Kunis</div>
                                    <span class="designation">Apps Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-60 md-pl-15">
                <div class="testi-image">
                    <div class="main-img text-center">
                        <img src="{{asset('/images/testimonial/style1/testi.png')}}" alt="Images">
                    </div>
                    <div class="testi-anaimation">
                        <div class="animate big-ball">
                            <img class="scale" src="{{asset('/images/testimonial/style1/big-ball.png')}}" alt="Images">
                        </div>
                        <div class="animate dot-shape">
                            <img class="scale" src="{{asset('/images/testimonial/style1/dot-shape.png')}}" alt="Images">
                        </div>
                        <div class="animate triangle">
                            <img class="horizontal" src="{{asset('/images/testimonial/style1/triangle.png')}}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>