<!-- Testimonial Section Start -->
<div id="rs-testimonial" class="rs-testimonial testimonial-style2 blue-bg pt-120 pb-120 md-pt-80 md-pb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 md-mb-50">
				<div class="sec-title2">
					<div class="brush-content mb-20">
						<img src="assets/images/brush.png" alt="">
						<span class="sub-text yellow-color">
							Testimonials</span>
					</div>
					<h2 class="title white-color pb-25">
						What Our Clients<br>
						Say About Us
					</h2>
					<p class="desc white-color">Nor is there anyone who loves or pursues or desires to<br>
						obtain pain of itself, because it is pain</p>
				</div>
			</div>
			<div class="col-lg-7 pr-40 md-pr-15">
				<div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="true" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="true" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
					{% for i in 0..3 %}
						<div class="testi-item">
							<div class="testi-wrap">
								<div class="images-wrap">
									<img src="{{asset('/images/testimonial/style1/1.jpg')}}" alt="Images">
								</div>
								<div class="item-content-basic">
									<span><img src="{{asset('/images/testimonial/style1/quote2.png')}}" alt="Images"></span>
									<p>“Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway.”</p>
									<div class="testi-information">
										<div class="testi-name">Jessica Alba</div>
										<span class="designation">Digital Marketer</span>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="testi-animation">
		<div class="animate-style one">
			<img class="rotated-style2" src="{{asset('/images/testimonial/style1/ball.png')}}" alt="Images">
		</div>
		<div class="animate-style two">
			<img class="scale" src="{{asset('/images/testimonial/style1/ball.png')}}" alt="Images">
		</div>
		<div class="animate-style three">
			<img class="rotated-style2" src="{{asset('/images/testimonial/style1/ball.png')}}" alt="Images">
		</div>
		<div class="animate-style four">
			<img class="scale" src="{{asset('/images/testimonial/style1/ball.png')}}" alt="Images">
		</div>
		<div class="animate-style five">
			<img class="rotated-style2" src="{{asset('/images/testimonial/style1/ball.png')}}" alt="Images">
		</div>
		<div class="animate-style six">
			<img class="scale" src="{{asset('/images/testimonial/style1/ball.png')}}" alt="Images">
		</div>
		<div class="animate-style seven">
			<img class="scale" src="{{asset('/images/testimonial/style1/ball.png')}}" alt="Images">
		</div>
		<div class="animate-style eight">
			<img class="rotated-style2" src="{{asset('/images/testimonial/style1/ball.png')}}" alt="Images">
		</div>
	</div>
</div>
<!-- Testimonial Section End -->

