<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer footer-style1 footer-style4">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-12 md-mb-20 pr-83 md-pr-15">
							<div class="footer-logo mb-30 md-mb-20">
								<a href="{{path('app_home')}}"><img src="{{asset('/images/yellow-logo.png')}}" alt="Logo"></a>
							</div>
							<div class="textwidget mb-33">
								Net & Sur est une entreprise basée à Beauvais, spécialisée dans le nettoyage professionnel et industriel. 
							</div>
							{# <ul class="app-store">
								<li><a href="#"><img src="{{asset('/images/footer/playstore.png')}}" alt=""></a></li>
								<li><a href="#"><img src="{{asset('/images/footer/appstore.png')}}" alt=""></a></li>
							</ul> #}
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 md-mb-20">
							<h3 class="footer-title">CONTACT NET&SUR</h3>
							<ul class="address-widget">
								<li>
									<i class="fi fi-rr-map-marker-home"></i>
									<div class="desc">3 rue witten<br>
										60000 - Beauvais
									</div>
								</li>
								<li>
									<i class="fi fi-rr-phone-call"></i>
									<div class="desc">
										<a href="tel:(+1)123-4567890">+33 3 00 00 00 00</a>
									</div>
								</li>
								<li>
									<i class="fi fi-rr-envelope-plus"></i>
									<div class="desc">
										<a href="mailto:infoname@gmail.com">contact@netetsur.com</a>
									</div>
								</li>
								<li>
									<i class="fi fi-rr-time-add"></i>
									<div class="desc">
										9h - 18H
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 md-mb-20 pl-90 md-pl-15">
					<h3 class="footer-title black-title">S'INSCRIRE À LA NEWSLETTER </h3>
					<p class="widget-desc">Rejoignez notre liste d'abonnés pour recevoir les dernières nouvelles et offres spéciales.</p>
					<div id="mauticform_wrapper_newsletters" class="mauticform_wrapper">
						<form autocomplete="false" role="form" method="post" action="http://mautic.net-et.sur.com.yjbt3669.odns.fr/form/submit?formId=9" id="mauticform_newsletters" data-mautic-form="newsletters" enctype="multipart/form-data">
							<div class="mauticform-error" id="mauticform_newsletters_error"></div>
							<div class="mauticform-message" id="mauticform_newsletters_message"></div>
							<div class="mauticform-innerform">
								<div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
									<div id="mauticform_newsletters_mail" data-validate="mail" data-validation-type="email">
										<p>
											<input id="mauticform_input_newsletters_mail" name="mauticform[mail]" value="" placeholder="votre mail"  type="email">
										</p>
										<span class="mauticform-errormsg" style="display: none;">Votre nom est requis, merci.</span>
									</div>
									<div id="mauticform_newsletters_submit" class="">
										<p>
											<input type="submit" name="mauticform[submit]" id="mauticform_input_newsletters_submit" value="Envoyer">
										</p>
									</div>
								</div>
							</div>
							<input type="hidden" name="mauticform[formId]" id="mauticform_newsletters_id" value="9">
							<input type="hidden" name="mauticform[return]" id="mauticform_newsletters_return" value="">
							<input type="hidden" name="mauticform[formName]" id="mauticform_newsletters_name" value="newsletters">

							</form>
					</div>
					<ul class="footer-social">  
						<li> 
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li> 
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li> 
							<a href="#"><i class="fa fa-twitter"></i></a> 
						</li>

						<li> 
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">                    
			<div class="row y-middle">
				<div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
					<ul class="copy-right-menu">
						<li><a href="{{path('app_sitemap')}}">Plan du site</a></li>
						<li><a href="{{path('app_cookies')}}">Les cookies</a></li>
						<li><a href="{{path('app_confidentialite')}}">Politique de confidentialité</a></li>
						<li><a href="{{path('app_mentions')}}">Mentions légales</a></li>
						<li><a href="{{path('app_cgv')}}">CGV</a></li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="copyright text-lg-start text-center ">
						<p>Copyright © 2023 Web-artisanat. conçu par <a href="https://web-artisanat.com" target="blank"> DevJam</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->